//@import "custom";
@import "~bootstrap/scss/bootstrap";

//navbar
body{
    background-color: rgb(248, 245, 245) ;
}
//nabvar
.navbar{
    
    background-color: rgb(107, 103, 103);
    border-bottom: 10px solid green;
    padding:20px 10px;
    height: auto;
    
   
}


a{
    color:#fff !important;
    font-weight: 500 px;
    font-size: 20px !important;
}


ul li{
    color: white;

}
.nav-item{
 color: white;
}
